### Django settings
DJANGO_SECRET_KEY=
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=
DJANGO_TIME_ZONE=
DJANGO_LOG_LEVEL=
DJANGO_ACCESS_LOG_FILE=
DJANGO_INFO_LOG_FILE=
DJANGO_ERROR_LOG_FILE=

### Database settings
# PostgreSQL
DB_ENGINE=
DB_HOST=
DB_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# MongoDB
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=

### For Django CACHES
REDIS_LOCATION=

### For Celery Task Queue
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

### For JWT standdard in which Access and Sliding token in minutes and refresh token in hours
SIMPLE_JWT_ACCESS_TOKEN_LIFETIME=
SIMPLE_JWT_REFRESH_TOKEN_LIFETIME=
SIMPLE_JWT_SLIDING_TOKEN_LIFETIME=
SIMPLE_JWT_SLIDING_TOKEN_REFRESH_LIFETIME=